<app-menu-login></app-menu-login>

<div class="container">

    <div class="productos">

        <h1 class="titulo">Productos</h1>

        <div class="lista">

            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            <div class="producto">
                <div class="card">
                    <div class="card-header">
                     <h3 class="titulo-producto">Fruta de temporada </h3> 
                    </div>
                    <div class="card-body">
                        <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto" >
                      <p class="card-text precio">S/.120.00</p>
                      <button type="button" class="registrar btn  d-flex mx-auto mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar a Carrito</button>
                      <button type="button" class="registrar btn  d-flex mx-auto" (click)="ver()" (click)="ver()">Ver más</button>
                    </div>
                  </div>
            </div>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cantidad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <input type="number" class="form-control" >
                  </div>
                  <div class="boton-agregar">
                    <button type="button" class="btn btn-primary d-flex mx-auto" >Agregar al Carro</button>
                  </div>
                </div>
              </div>
            </div>



        </div>


    </div>


</div>
