<app-menu-login></app-menu-login>
<div class="container">

  <h1 class="titulo">Fruta de temporada</h1>

  <div class="detalle">

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://www.nestle.com.pe/sites/g/files/pydnoa276/files/Dummie_Nesquik.jpg" class="imagen-producto">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia incidunt
              libero placeat fugit sint earum laborum molestias doloribus aut enim laboriosam, deserunt, iure pmenda
              repellat, enim aut pariatur velit a officia sed, ipsam voluptatem aperiam, obcaecati temporibus tempore
              atque harum. Et qui fuga tenetur earum, doloribus blanditiis dolorum inventore. Explicabo nihil,
              voluptatum laudantium porro sit hic fuga soluta quae consequatur repel</p>
            <p class="card-text precio">S/.120.00</p>
            <button type="button" class="agregar btn " data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 " id="exampleModalLabel">Cantidad</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="number" class="form-control" >
          </div>
          <div class="boton-agregar">
            
            <button type="button" class="btn btn-primary d-flex mx-auto">Agregar al Carro</button>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>