<div class="container">

    <nav class="navbar navbar-expand-lg menu">
        <div class="container-fluid">
            <div class="logo d-flex">
                <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="8%" alt="">
                <ul class="navbar-nav  lista">
                    <li class="nav-item">
                      <a class="nav-link texto separador"  routerLink="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link texto separador" routerLink="/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link texto separador" routerLink="/pedidos">Mis pedidos</a>
                    </li>
                </ul>
            </div>



            <div class="opciones">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link texto separador" routerLink="/" >Cerrar Session</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link texto" >Hola {{nombre | titlecase}}</a>
                    </li>
                  </ul>
            </div>


        </div>
      </nav>

</div>
