<app-menu-login></app-menu-login>

<div class="container">

    <h1 class="titulo">Mis pedidos</h1>

    <div class="tabla">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Producto</th>
                <th scope="col">Costo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo Total</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th>1</th>
                  <td>Frutas de temporada</td>
                  <td>80</td>
                  <td>2</td>
                  <td>160</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>Frutas de temporada</td>
                  <td>80</td>
                  <td>2</td>
                  <td>160</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>Frutas de temporada</td>
                  <td>80</td>
                  <td>2</td>
                  <td>160</td>
                </tr>
                <tr>
                  <th>1</th>
                  <td>Frutas de temporada</td>
                  <td>80</td>
                  <td>2</td>
                  <td>160</td>
                </tr>
                
            </tbody>
          </table>

          <p class="total">TOTAL           <span class="precio"> 640</span></p>

    </div>

</div>