<div class="container">

    <nav class="navbar navbar-expand-lg menu">
        <div class="container-fluid">
            <div class="logo">
                <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="15%" alt="">
            </div>

            <div class="opciones">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link texto separador" routerLink="/">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link texto" routerLink="/registrarse">Registrarse</a>
                    </li>
                  </ul>
            </div>


        </div>
      </nav>

</div>