<app-menu-log-out></app-menu-log-out>

<div class="container">

    <h1 class="titulo">Productos</h1>

    <div class="tabla">

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Producto</th>
                <th scope="col">Costo</th>
                <th scope="col">Oferta</th>
                <th scope="col">Costo Total</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of productos">
                  <td class="item">-</td>
                  <td class="item" >{{i.nombreControl}}</td>
                  <td class="item" >{{i.costoControl}}</td>
                  <td class="item" >{{i.ofertaControl}}</td>
                  <td class="item" >{{i.costoControl}}</td>
                  <td><button type="button" class="btn boton btn-danger px-4" (click)="onClickDelete(i)">Borrar</button></td>
                </tr>
                
                
            </tbody>
          </table>

          <div class="agregar">
            <button class="btn boton-agregar btn-primary px-4 " (click)="agregar()" >Agregar producto</button>
          </div>


    </div>

</div>
